.table-container {
  margin: 1rem 15rem 2rem 15rem;
  border: 0.5px lightgrey solid;
  border-radius: 5px;
  display: flex;
  /* height: 70vh; */
  /* scroll stuff */
  box-sizing: border-box;
  overflow: auto;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.missing-funds-table-container {
  margin: 1rem 0;
  min-width: 500px;
  min-height: 100px;
  border: 0.5px lightgrey solid;
}

.table-cells-container.auto-cursor {
  cursor: auto;
}

.table-cells-container {
  cursor: pointer;
}

.table-cells-container:hover {
  background-color: #fafafa;
}

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border-spacing: 0px;
  width: 100%;
  table-layout: fixed;
}

th {
  line-height: 2rem;
  font-weight: normal;
  background-color: #f5f5f5;
  color: #777676;
  text-align: left;
  font-size: 13px;
}

table td {
  /* padding: 0.625em; */
  text-align: left;
  line-height: 2rem;
  border-bottom: 0.5px #d3d3d3 solid;
  padding-right: 10px;
}

.flag-row {
  box-shadow: inset 5px 0 0 0 #d30b0e;
}
.flag-row-font-color {
  color: #d30b0e;
}

.table-no-collapse {
  margin: 0;
  padding: 0;
  border-spacing: 0px;
  width: 100%;
  table-layout: fixed;
}

.table-no-collapse > th {
  line-height: 2rem;
  font-weight: normal;
  background-color: #f5f5f5;
  color: #777676;
  text-align: left;
  font-size: 13px;
}

.table-no-collapse > td {
  /* padding: 0.625em; */
  text-align: left;
  line-height: 2rem;
  border-bottom: 0.5px lightgrey solid;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .table-container {
    margin: 1rem 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 600px) {
  .missing-funds-table-container {
    margin: 1rem 0;
    min-width: 90%;
    min-height: 400px;
  }

  .table-container {
    margin: 1rem 1rem 2rem 1rem;
  }

  table {
    border: 0;
  }

  table th {
    display: none;
  }

  table td {
    padding: 0.625em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #d3d3d3;
    display: block;
  }

  table td {
    border-bottom: 0px solid #d3d3d3;
    display: block;
    text-align: right;
  }

  table td::before {
    font-weight: normal;
    color: #777676;
    content: attr(data-label);
    float: left;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .table-no-collapse > tbody > tr {
    display: table-row;
    vertical-align: inherit;
    border-bottom: 1px solid #d3d3d3;
  }

  .table-no-collapse > tbody > tr > th {
    line-height: 1.5rem;
    display: table-cell;
    vertical-align: inherit;
  }

  .table-no-collapse > tbody > tr > td {
    line-height: 1rem;
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    padding-left: 0;
    overflow: auto;
  }
}
